ul.glossary { margin-top: 20px; }
ul.glossary li { padding: 10px; }
ul.glossary li:hover { background-color: #f9f9f9; }
ul.glossary li .actions { width: 50px; float: right; margin-right: 10px; }
ul.glossary li .actions a { margin: 3px 0; }

.modal { display: none; }

.image-container { width: 300px; height: 235px; overflow: hidden; } /* Crop image slightly */

.hero-unit .thumbnail { float: right; margin-left: 15px; }

ul.features { margin-bottom: 25px; }

.uneditable-input.multi-line { height: auto; }

header { margin-bottom: 20px; }
header a { float: left; margin-right: 15px; width: 75px; height: 75px; }
header a img { height: 75px; width: 75px; }
header h1 { line-height: 84px; }

.form-actions .btn-cancel { float: right; }

.ajax-error { display: none; }