﻿@model Glossy.Application.Models.DefineTermModel

@using (Html.BeginForm("Define", "Glossary"))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Define a term</legend>

        <div class="control-group">
            @Html.BSLabelFor(model => model.Command.Term)
            <div class="controls">
                @Html.TextBoxFor(model => model.Command.Term, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Command.Term)
            </div>
        </div>

        <div class="control-group">
            @Html.BSLabelFor(model => model.Command.Definition)
            <div class="controls">
                @Html.TextAreaFor(model => model.Command.Definition, new { @class = "input-xlarge", rows = "3" })
                @Html.ValidationMessageFor(model => model.Command.Definition)
            </div>
        </div>

        <div class="form-actions">
            @Html.ActionLink("Back to Glossary", "Index", "Glossary", null, new { @class = "btn btn-cancel" })
            <input class="btn btn-primary" type="submit" value="Define" />
        </div>
    </fieldset>
}