﻿@model Glossy.Application.Models.GlossaryModel

@if (Model.Entries.Count == 0)
{
    <div class="alert alert-info">
        The glossary is currently empty. You can add definitions using the "Define a Term" button below.
    </div>
}
else
{
    <ul class="glossary unstyled">
    @foreach (var entry in Model.Entries)
    {
        <li>
            <div class="actions">
                @Html.ActionLink("Redefine", "Redefine", new { Term = entry.Term }, new { @class = "action btn btn-mini btn-primary" })
                @Html.ActionLink("Undefine", "Undefine", new { Term = entry.Term }, new { @class = "action btn btn-mini btn-danger" })
            </div>
            <h3>@entry.Term</h3>
            <p>@entry.Definition</p>
        </li>
    }
    </ul>
}