﻿@model Glossy.Application.Models.RedefineTermModel

@using (Html.BeginForm("Redefine", "Glossary", new { Model.Command.Term }))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Redefine a term</legend>
        <div class="control-group">
            @Html.BSLabelFor(model => model.Command.NewTerm)
            <div class="controls">
                @Html.HiddenFor(model => model.Command.Term)
                @Html.TextBoxFor(model => model.Command.NewTerm, new { @class = "input-xlarge" })
                @Html.ValidationMessageFor(model => model.Command.NewTerm)
            </div>
        </div>

        <div class="control-group">
            @Html.BSLabelFor(model => model.Command.NewDefinition)
            <div class="controls">
                @Html.TextAreaFor(model => model.Command.NewDefinition, new { @class = "input-xlarge", rows = "3" })
                @Html.ValidationMessageFor(model => model.Command.NewDefinition)
            </div>
        </div>

        <div class="form-actions">
            @Html.ActionLink("Back to Glossary", "Index", "Glossary", null, new { @class = "btn btn-cancel" })
            <input class="btn btn-primary" type="submit" value="Redefine" />
        </div>
    </fieldset>
}