﻿@model Glossy.Application.Models.UndefineTermModel

@using (Html.BeginForm("Undefine", "Glossary", new { Model.Command.Term }))
{
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Undefine a term</legend>

        <div class="control-group">
            <label class="control-label">Term</label>
            <div class="controls">
                @Html.HiddenFor(model => model.Command.Term)
                <span class="input-xlarge uneditable-input">@Html.DisplayFor(model => model.Command.Term)</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Definition</label>
            <div class="controls">
                <span class="input-xlarge uneditable-input multi-line">@Html.DisplayFor(model => model.Definition)</span>
            </div>
        </div>

        <div class="form-actions">
            @Html.ActionLink("Back to Glossary", "Index", "Glossary", null, new { @class = "btn btn-cancel" })
            <input class="btn btn-danger" type="submit" value="Undefine" />
        </div>
    </fieldset>
}