﻿@model Glossy.Application.Models.GlossaryModel

@{
    ViewBag.Robots = "index,follow";
    ViewBag.Title = "Glossary of Terms";
    ViewBag.Keywords = String.Join(",", Model.Entries.Select(entry => entry.Term));
    ViewBag.Description = "The glossary of terms contains a list of important terms and definitions";
}

<div id="list_view" class="glossary-view" data-reload-uri="@Url.Action("Index", "Glossary")">
    @Html.Partial("_Index", Model)
</div>

<div class="form-actions">
    @Html.ActionLink("Define a term", "Define", null, new { @class = "action btn btn-primary" })
</div>

@section ScriptIncludes
{
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/modernizr-1.7.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ajax-by-convention.js")" type="text/javascript"></script>
}