﻿@{
    ViewBag.Robots = "index,follow";
    ViewBag.Title = "Glossy";
    ViewBag.Keywords = "Glossy,Glossary,Terms,Definitions";
    ViewBag.Description = "Glossy is a web application that allows you to maintain a glossary of terms";
    Layout = "~/Views/Shared/_BaseLayout.cshtml";
}
<div class="hero-unit">
    
    <div class="thumbnail">
        <div class="image-container">
            <a href="http://www.flickr.com/photos/practicalowl/4098547561/" title="The Worlds Smallest Dictionary by practicalowl, on Flickr"><img src="http://farm3.staticflickr.com/2804/4098547561_3a4c417702_n.jpg" width="320" height="235" alt="The Worlds Smallest Dictionary"></a>
        </div>
    </div>

    <h1>Welcome to Glossy</h1>
    <p>Glossy is a web application that allows you to maintain a glossary of terms</p>
    <p>You can:</p>

    <ul class="unstyled features">
        <li><i class="icon-check"></i> View a list of terms sorted alphabetically</li>
        <li><i class="icon-check"></i> Define a new term</li>
        <li><i class="icon-check"></i> Redefine an existing term</li>
        <li><i class="icon-check"></i> Undefine an obsolete term</li>
    </ul>

    <p>
        @Html.ActionLink("View the Glossary", "Index", "Glossary", null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>
