﻿@{ Layout = "~/Views/Shared/_BaseLayout.cshtml"; }

<div class="row">
    <div class="span8 offset2">
        <header>
            <a class="thumbnail" href="http://www.flickr.com/photos/practicalowl/4098547561/" title="The Worlds Smallest Dictionary by practicalowl, on Flickr"><img src="http://farm3.staticflickr.com/2804/4098547561_3a4c417702_s.jpg" width="75" height="75" alt="The Worlds Smallest Dictionary" /></a>
            <h1>Glossy</h1>
        </header>

        <div class="content">
            @RenderBody()
        </div>
    </div>
</div>

@section HeaderIncludes
{
    @RenderSection("HeaderIncludes", false)
}
@section ScriptIncludes
{
    @RenderSection("ScriptIncludes", false)
}