﻿@if(ViewBag.Robots != null)
{
    <meta name="robots" content="@ViewBag.Robots" />
}
@if(ViewBag.Description != null)
{
    <meta name="description" content="@ViewBag.Description" />
}
@if (ViewBag.Keywords != null)
{
    <meta name="keywords" content="@ViewBag.Keywords" />
}