﻿@{
    ViewBag.Title = "Not Found - Glossy";
}

<div class="alert">
    <h2>404 - Not Found</h2>
    <p>Sorry but we couldn't find what you are looking for.</p>
    <p>@Html.ActionLink("Back to Glossary", "Index", "Glossary", null, new { @class = "btn btn-warning" })</p>
</div>